body {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  color: #000000;

  background-color: #eeeeee;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 50px;
}

.logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 40px;

  line-height: 0;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 25px 0 0;
  padding: 0;

  list-style: none;
}

.site-navigation li {
  margin-right: 50px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a {
  padding-bottom: 5px;

  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  border-bottom: 2px solid transparent;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;

  outline: none;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a,
.site-navigation-current a:hover,
.site-navigation-current a:active {
  color: #000000;

  border-bottom-color: #fb565a;
}

.header-basket {
  margin-top: 25px;
  padding-bottom: 5px;
  padding-left: 40px;

  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 7px;
  border-bottom: 2px solid transparent;
}

.header-basket:hover,
.header-basket:focus {
  color: #fb565a;

  outline: none;
}

.header-basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-basket-current,
.header-basket-current:hover,
.header-basket-current :active {
  color: #000000;

  border-bottom-color: #fb565a;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-toggles {
  position: absolute;
  bottom: 95px;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-toggle {
  position: relative;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 18px;
  height: 18px;
  margin: 1px;
  padding: 7px;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-toggle::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;

  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 50%;
}

.slider-toggle-active::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;

  width: 4px;
  height: 4px;

  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.sliders-list {
  list-style: none;
}

.slider-item {
  display: none;
  padding-top: 85px;
  padding-bottom: 80px;

  background-repeat: no-repeat;
}

.slider-item:first-child {
  background-image: url("../img/slide1.png");
  background-position: right 30px bottom 0;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: right 0 bottom 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: right 0 bottom 0;
}

.slider-item-show {
  display: block;
}

.slider-item h3 {
  max-width: 550px;
  margin: 0 0 20px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider-item p {
  max-width: 420px;
  margin: 0 0 38px;
}

.button {
  display: inline-block;
  padding: 17px 40px 15px;

  font-weight: 500;
  line-height: 18px;
  vertical-align: top;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #e74246;
  outline: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.slider-item-button {
  padding-right: 54px;
  padding-left: 54px;
}

.services {
  padding: 80px 0 30px;

  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.service-item {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 50px;
  padding-top: 170px;

  background-image: url("../img/services1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-item:nth-child(2) {
  background-image: url("../img/services2.png");
}

.service-item:nth-child(3n) {
  margin-right: 0;

  background-image: url("../img/services3.png");
}

.service-item h3 {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.service-item p {
  margin: 0 0 30px;
}

.service-item:nth-child(2) .button {
  background-color: #00ca74;
}

.service-item:nth-child(2) .button:hover,
.service-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.service-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.service-item:nth-child(3) .button {
  background-color: #efc84a;
}

.service-item:nth-child(3) .button:hover,
.service-item:nth-child(3) .button:focus {
  background-color: #eab534;
}

.service-item:nth-child(3) .button:active {
  background-color: #e5a722;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 40px 0 75px;

  border-bottom: 2px solid #eeeeee;
}

.about-us-description {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 680px;
  margin: 0 20px 35px 0;
}

.about-us-description b {
  display: block;
  padding: 35px 0 30px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-us-wrapper p {
  margin: 0 0 25px;

  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-us-services {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-services li {
  position: relative;

  margin-bottom: 25px;
  padding-left: 35px;
}

.about-us-services li:last-child {
  margin-bottom: 0;
}

.about-us-services li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.about-us-wrapper:last-child {
  min-width: 360px;
}

.about-us-wrapper:last-child p {
  padding-left: 20px;
}
.about-us-facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.fact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 110px;
  padding: 0 5px;
}

.fact-item span:first-child {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;

  line-height: 18px;
}

.fact-item span:last-child {
  padding-bottom: 25px;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.fact-item sup {
  position: relative;
  top: -10px;
}

.partners {
  margin-bottom: 80px;
  padding: 45px 0;

  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
  outline: none;
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

/* Каталог */

.main-title {
  margin: 0;
  padding: 75px 20px 100px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.inner-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 60px;
}

/* Фильтры */

.filters {
  width: 260px;
  padding-right: 40px;
}

.filters-price h3 {
  margin: 0 0 45px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.price-controls {
  position: relative;

  margin-bottom: 14px;
  padding: 39px 21px;

  background-color: #eeeeee;
  border-radius: 3px;
}

.price-controls .scale {
  position: relative;

  width: 218px;
  height: 2px;

  background-color: #d7dcde;
}

.price-controls .bar {
  position: absolute;
  top: 0;
  left: 0;

  width: 150px;
  height: 2px;

  background-color: #00ca74;
}

.price-controls .range-toggle {
  position: absolute;
  top: 30px;
  left: 18px;

  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 0 #cccdcd;
          box-shadow: 0 2px 0 0 #cccdcd;
  cursor: pointer;
}

.price-controls .range-toggle-max {
  left: 160px;
}

.price-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0 0 53px;

  line-height: 22px;
  text-transform: uppercase;
}

.price-range label {
  margin-right: 12px;
}

.price-range input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;
  height: 38px;

  font: inherit;
  text-align: center;
  color: #283136;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.price-range input[name="min-price"] {
  margin-right: auto;
}


.filters-form fieldset {
  margin: 0 0 40px;
  padding: 0;

  border: none;
}

.filters-form legend {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filters-layout ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters-layout li {
  margin-bottom: 18px;
}

.filters-layout li:last-child {
  margin-bottom: 0;
}

.filters-layout label {
  position: relative;

  padding: 0 0 0 36px;

  line-height: 20px;
}

.filters-layout label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;

  width: 9px;
  height: 9px;

  background-color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #4d4d4d;
          box-shadow: 0 0 0 4px #4d4d4d;
  opacity: 0.4;
}

.filter-input-radio:checked ~ label::before {
  background-color: #4d4d4d;
}

.filter-input-radio ~ label:hover::before,
.filter-input-radio:focus ~ label::before {
  opacity: 1;
}

.filter-input-radio:disabled ~ label::before {
  opacity: 0.1;
}

.filters-features ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters-features li {
  margin-bottom: 18px;
}

.filters-features li:last-child {
  margin-bottom: 0;
}

.filters-features label {
  position: relative;

  padding: 0 0 0 36px;

  line-height: 20px;
}

.filters-features label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 5px;

  width: 19px;
  height: 19px;

  border: 2px solid #4d4d4d;
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox:checked ~ label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

.filter-input-checkbox ~ label:hover::before,
.filter-input-checkbox:focus ~ label::before {
  opacity: 1;
}

.filter-input-checkbox:disabled ~ label::before {
  opacity: 0.1;
}

.filters-button {
  width: 100%;

  color: #000000;

  background-color: #eeeeee;
}

.filters-button:hover,
.filters-button:focus {
  background-color: #dfdfdf;
}

.filters-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

/* Сортировка */

.products {
  width: 760px;
}

.products-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 55px;
}

.products-sorting h3 {
  margin: 0 30px 0 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorting-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10px 0 auto;
  padding: 0;

  list-style: none;
}

.sorting-type li {
  margin-right: 25px;
}

.sorting-type a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sorting-type a:hover,
.sorting-type a:focus {
  color: rgba(0, 0, 0, 0.6);

  outline: none;
}

.sorting-type a:active {
  color: rgb(0, 0, 0);
}

.sorting-type .sorting-current,
.sorting-type .sorting-current:hover,
.sorting-type .sorting-current:active {
  color: rgb(0, 0, 0);
}

.sorting-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-direction li {
  padding-left: 12px;
}

.sorting-direction a {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;
}

.sorting-direction a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  width: 0;
  height: 0;

  border-right: 5px solid transparent;
  border-bottom: 10px solid #ededed;
  border-left: 5px solid transparent;
}

.sorting-direction-down::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting-direction a:focus {
  outline: none;
}

.sorting-direction a:hover::after,
.sorting-direction a:focus::after {
  border-bottom-color: #a6a6a6;
}

.sorting-direction a:active::after {
  border-bottom-color: #231f20;
}

.sorting-direction .sorting-current::after,
.sorting-direction .sorting-current:hover::after,
.sorting-direction .sorting-current:active::after {
  border-bottom-color: #231f20;
}

/* Шаблоны - каталог */

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 27px;
  padding: 0;

  list-style: none;
}

.product-item {
  position: relative;

  width: 360px;
  margin-bottom: 33px;
  padding-top: 40px;

  background-color: #e9e9e9;
  border-radius: 3px;
}

.product-item::before,
.product-item::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 39px;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50%;
}

.product-item::after {
  left: 62px;
}

.product-item:hover {
  background-color: #4d4d4d;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.product-item-image {
  margin: 0;

  font-size: 0;
  line-height: 0;
}

.product-item-image::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50%;
}

.product-item-image::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;

  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 1, 1, 0.1);
}

.product-item-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 25px 65px 43px;

  text-align: center;

  background-color: #eeeeee;
}

.product-item:hover .product-item-wrapper {
  display: block;
}

.product-item-title {
  margin: 0 0 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-item-title a {
  color: #000000;
}

.product-item-title a:hover,
.product-item-title a:focus {
  color: #fb565a;

  outline: none;
}

.product-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-item-description {
  max-height: 387px;
  margin: 0 0 30px 0;
  overflow: auto;

  line-height: 18px;
  color: #666666;
}

.product-item-button {
  padding-right: 60px;
  padding-left: 60px;
}

/* Пагинация */

.products-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 60px;
  padding: 0;

  list-style: none;
}

.products-pagination li {
  margin-right: 11px;
}

.products-pagination li:last-child {
  margin-right: 0;
}

.products-pagination a {
  display: block;
  padding: 17px 21px 15px;

  font-weight: 500;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 3px;
}

.products-pagination-next a {
  padding-right: 78px;
  padding-left: 78px;
}

.products-pagination a:hover,
.products-pagination a:focus {
  background-color: #dfdfdf;
  outline: none;
}

.products-pagination a:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.products-pagination-current a,
.products-pagination-current a:hover,
.products-pagination-current a:active {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px #dbdbdb;
          box-shadow: inset 0 0 0 3px #dbdbdb;
}

/* Футер */

.footer-contacts-wrapper {
  position: relative;
}

.footer-contacts-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  border: none;
}

.footer-map {
  margin: 0;

  text-align: center;
}

.footer-contacts {
  position: absolute;
  top: 54px;
  left: 50%;

  padding: 50px;

  color: #666666;

  background-color: #ffffff;
  -webkit-transform: translateX(-580px);
      -ms-transform: translateX(-580px);
          transform: translateX(-580px);
}

.footer-contacts h3 {
  margin: 0 0 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.footer-contacts p {
  width: 220px;
  margin: 0 0 20px 0;

  line-height: 18px;
}

.footer-contacts p:last-of-type {
  margin-bottom: 35px;
}

.feedback-open-button {
  padding: 17px 45px 15px;
}

.footer-social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 70px 0;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 20px 0 0;
  padding: 0;

  list-style: none;
}

.footer-social li {
  margin-right: 13px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
  outline: none;
}

.social-button:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.social-button:active path {
  fill: #e37376;
}

.footer-proposal {
  padding-left: 120px;

  line-height: 22px;
  color: #444444;
}

.footer-proposal b {
  display: block;
  margin-bottom: 3px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

/* Форма обратной связи  */

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25%,
  75% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }

  50% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25%,
  75% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }

  50% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

.modal-feedback {
  position: fixed;
  top: 120px;
  left: 50%;

  display: none;
  width: 760px;
  margin-left: -480px;
  padding: 65px 100px 75px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;

  -webkit-animation: jump 1s;
          animation: jump 1s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.feedback-title {
  margin: 0 0 35px 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.feedback-form-field {
  width: 360px;
  margin: 0 0 35px 0;
}

.feedback-form-field:last-of-type {
  width: 100%;
  margin-bottom: 47px;
}

.feedback-form label {
  display: block;
  margin-bottom: 10px;

  font-weight: 700;
  color: #000000;
}

.feedback-form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 14px 12px;

  font: inherit;
  color: #444444;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback-form input:hover {
  border-color: #b4b9bb;
}

.feedback-form input:focus {
  border-color: #000000;
  outline: none;
}

.feedback-form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 118px;
  padding: 14px 12px;

  font: inherit;
  color: #444444;

  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.feedback-form textarea:hover {
  border-color: #b4b9bb;
}

.feedback-form textarea:focus {
  border-color: #000000;
  outline: none;
}

.feedback-form input:invalid,
.feedback-form .feedback-field-invalid {
  color: #e74246;

  border-color: #e74246;
}

.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback-form input::-moz-placeholder,
.feedback-form textarea::-moz-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback-form .button {
  padding: 15px 85px 17px;
}

.modal-close {
  position: absolute;
  top: 58px;
  right: 78px;

  width: 50px;
  height: 50px;

  font-size: 0;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 21px;

  display: block;
  width: 5px;
  height: 27px;

  background-color: #fecccd;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
}

.modal-close:hover::before,
.modal-close:focus::before,
.modal-close:hover::after,
.modal-close:focus::after {
  background-color: #fb565a;
  outline: none;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #ffeeee;
}
